# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
name: .NET 
on:
  workflow_dispatch:
  push:
    branches: [ "gh-pages" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: write
jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x
        cache: true
#    - name: Restore dependencies
#      run: dotnet restore
#    - name: Build
#      run: dotnet build --no-restore
#    - name: Test
#      run: dotnet test --no-build --verbosity normal
    - name: install .NET Blazor
      run: dotnet workload install wasm-tools
#      run: dotnet workload install blazor
    - name: Publish .NET
      run: dotnet publish --project ./Bueno Protien/Bueno Protien.csproj -c:Release -p:GHPages=true -o main --nologo
      #run: dotnet publish -c:Release -p:GHPages=true -o main --nologo
#      run: dotnet publish -c:Release -p:GHPages=true --nologo
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
         #BRANCH: main
         #FOLDER: test
         BRANCH: gh-pages
         FOLDER: main
         single-commit: true
